body {
	font-size: 16px;
	color: #131213;
	font-family: system-ui;
	line-height: 1.4;
}
.new-heading {
	font-family: 'Eagle Lake', cursive;
	animation-name: add-text;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	color: #fdf8f4;
}
.new-p {
	font-family: 'Raleway', sans-serif;
	animation-name: add-text;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
h1,
h2,
h3,
h4 {
	font-size: 3rem;

	font-weight: 100;
}
h2,
h3,
h4 {
	font-size: 2.3rem;
	padding-bottom: 2.2rem;
}
h4,
h5 {
	padding-top: 1rem;
	font-size: 1.2rem;
	padding-bottom: 0.6rem;
}
.fab {
	font-size: 2.2rem;
}
.text__p-container {
	font-size: 1.2rem;
}
.title {
	&__h {
		font-size: 4rem;
		// color: #fdf8f4;
	}
	&__p {
		font-size: 1.2rem;
		opacity: 0.7;
		color: #fdf8f4;
	}
}
.nav {
	&__a,
	&__a-sub,
	&__a--massage {
		font-size: 1.2rem;
		color: #cbc7c4;
		text-decoration: none;
		text-transform: uppercase;
		&:hover {
			color: #fdf8f4;
		}
	}
}
.title__button-a {
	font-size: 1.2rem;
	color: #fdf8f4;
	text-decoration: none;
	text-transform: uppercase;
}
.massage__one,
.new-heading .massage__one {
	color: #131213;
}
.one__li {
	font-size: 1.2rem;
}
.effect {
	color: #fdf8f4;
}
.contact {
	color: #fdf8f4;
}
.benefits,
.footer,
.education {
	color: #fdf8f4;
}
.about p {
	font-size: 1.2rem;
}
.benefits,
.price {
	color: #131213;
	font-size: 1.2rem;
}
.new-heading.price__title,
.new-heading.price__subheading,
.new-heading.price__h4-subheading,
.new-heading.one__title,
.new-heading.about__title,
.new-heading.about__subheading {
	color: #131213;
}
.effect .fas {
	font-size: 1.3rem;
}

@media screen and (max-width: 910px) {
	.benefits {
		color: #fdf8f4;
	}
	.title__h {
		font-size: 3rem;
	}
}
@media screen and (max-width: 790px) {
	.title__h {
		font-size: 2rem;
	}
}
@media screen and (max-width: 700px) {
	p {
		font-size: 1rem;
	}
	.title__p {
		font-size: 1rem;
	}
	.footer__p {
		font-size: 0.8rem;
	}
	.nav {
		&__a,
		&__a-sub,
		&__a--massage {
			font-size: 1rem;
		}
	}
	button.title__button {
		font-size: 1rem;
	}
	h2,
	h3,
	h4 {
		font-size: 1.8rem;
		padding-bottom: 1.7rem;
	}
	h4,
	h5 {
		padding-top: 0.8rem;
		font-size: 1.2rem;
		padding-bottom: 0.4rem;
	}
	.title__button-a {
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 600px) {
	.nav {
		&__li {
			font-size: 1rem;
		}
	}
	.title__button {
		font-size: 0.7rem;
	}
}
@media screen and (max-width: 500px) {
	.title__h {
		font-size: 1.4rem;
	}
	h2,
	h3,
	h4 {
		font-size: 1.4rem;
		padding-bottom: 1.5rem;
	}
	h4,
	h5 {
		font-size: 1rem;
	}
}
@media screen and (max-width: 460px) {
	h2,
	h3,
	h4,
	.title__h {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 410px) {
	.title__p {
		display: none;
	}
}
