.background {
	background-color: #131213;
	padding: 4rem 7rem;
	position: relative;
	&__container {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	&__title-container {
		height: 100%;
		flex: 1;
		display: flex;
		align-items: center;
	}
	&__video-container {
		opacity: 0;
		transition: 4s all ease;
	}
}
.background__video {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: auto;
}
.title {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	&__h {
		z-index: 2;
	}
	&__button {
		margin-top: 2.3rem;
		width: 11rem;
		height: 3.4rem;
		font-size: 1.2rem;
		border: none;
		text-transform: uppercase;
		color: white;

		background-color: red;
		z-index: 2;
		transition: 1s all ease;
		box-shadow: black 0px 20px 30px -10px;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		}
	}
}
@media screen and (max-width: 1100px) {
	.background {
		padding: 4rem 5rem;
	}
}

@media screen and (max-width: 880px) {
	.title__h {
		font-size: 3rem;
	}
}
@media screen and (max-width: 790px) {
	.title__h {
		font-size: 2.5rem;
	}
}
@media screen and (max-width: 700px) {
	.title__h {
		font-size: 2rem;
	}
}
@media screen and (max-width: 600px) {
	.title__h {
		font-size: 1.5rem;
	}
	.background {
		padding: 2rem 4rem;
	}
}
