.effect {
	background-color: #40302a;
	height: 100vh;
	padding: 13rem 7rem 4rem;
	background-image: url('./../img/back.svg');
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__container {
		display: flex;
		gap: 2rem;
	}
	&__subheading {
		padding-bottom: 1rem;
		padding-top: 0.3rem;
	}
	&__effect {
		width: 33%;
		padding: 3rem 2rem;
		background-color: rgba(140, 119, 94, 0.6);
		box-shadow: 0 20px 30px -10px #000;
	}
}
