.effect {
	background-color: #40302a;
	height: 100vh;
	padding: 13rem 7rem 4rem;
	background-image: url('./../img/back.svg');
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__container {
		display: flex;
		gap: 2rem;
	}
	&__subheading {
		padding-bottom: 1rem;
		padding-top: 0.3rem;
	}
	&__effect {
		width: 33%;
		padding: 3rem 2rem;
		background-color: rgba(140, 119, 94, 0.6);
		box-shadow: 0 20px 30px -10px #000;
	}
}
@media screen and (max-width: 1280px) {
	.effect {
		height: auto;
		&__container {
			flex-direction: column;
		}
		&__effect {
			width: 100%;
		}
	}
}
@media screen and (max-width: 1100px) {
	.effect {
		padding: 8rem 5rem 4rem;
	}
}
@media screen and (max-width: 600px) {
	.effect {
		padding: 5rem 5rem 4rem;
	}
}
@media screen and (max-width: 500px) {
	.effect {
		padding: 3rem;
	}
}
@media screen and (max-width: 340px) {
	.effect {
		padding: 3rem 0;
	}
	.effect__title {
		padding: 0.5rem 3rem 1.3rem;
	}
	.effect__effect {
		padding: 3rem;
	}
}
