.nav {
	display: flex;
	justify-content: space-between;
	&__logo-container,
	&__logo-container--footer {
		position: absolute;
		top: 3.5rem;
		right: 6rem;
		width: 100px;
		z-index: 3;
		opacity: 0.7;
		transition: 2s all ease;
		&:hover {
			opacity: 1;
		}
	}
	&__nav {
		margin-left: -1rem;
	}
	&__logo-container--footer {
		position: inherit;
	}
	&__ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		z-index: 4;
	}

	&__li {
		transition: opacity 1s ease-in-out;
		z-index: 4;
	}
	&__a {
		padding: 1.6rem 1rem;
		&--massage {
			padding: 0 1rem 1.6rem;
			position: relative;
		}
	}
	&__about-ul {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		gap: 16px;
		left: -1rem;
		list-style: none;
		transition: 3s all ease;

		padding: 3rem 2rem;
		width: 21rem;
	}

	&__about-li {
		background-color: rgb(64, 48, 42);
		padding: 0.7rem;
		box-shadow: 0 20px 30px -10px #000;
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		}
	}
	&__a-sub {
		padding: 1.6rem 1rem;
		opacity: 0;
		&:hover {
			opacity: 0.6;
		}
	}
	&__opacity {
		animation-name: opacity-one;
		animation-duration: 2s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
	}
}
@media screen and (max-width: 1100px) {
	.nav {
		&__logo-container,
		&__logo-container--footer {
			top: 3rem;
			right: 4rem;
		}
	}
}

@media screen and (max-width: 700px) {
	.nav {
		align-items: top;
		&__logo {
			width: 80px;
		}
		&__nav {
			padding: 1.5rem;
			z-index: 11;
			position: absolute;
			left: 6.5rem;
		}

		&__a-navigation {
			background-color: #cbc7c4;
			box-shadow: 0 8px 0 #cbc7c4, 0 -8px 0 #cbc7c4;
			height: 2px;
			position: absolute;
			top: 0rem;
			left: 0;
			width: 2.5rem;
			z-index: 10;
			transition: 1s all ease;
			&:hover {
				color: #fdf8f4;
				box-shadow: 0 8px 0 #fdf8f4, 0 -8px 0 #fdf8f4;
			}
		}
		&__a-navigation--close {
			box-shadow: none;
			transform: rotate(45deg);
			&::before {
				content: '';
				position: absolute;
				background-color: #cbc7c4;
				height: 2px;
				width: 2.5rem;
				z-index: 10;
				transform: rotate(85deg);
			}
			&:hover {
				color: #fdf8f4;
				box-shadow: none;
			}
		}

		&__ul {
			flex-direction: column;
			padding-top: 2rem;
			z-index: 4;
			gap: 10px;
		}
		.nav__a--massage {
			padding: 0 1rem;
		}
	}
}
@media screen and (max-width: 660px) {
	.nav__nav {
		left: 4.5rem;
	}
	.nav__logo-container {
		top: 2.5rem;
	}
}
@media screen and (max-width: 500px) {
	.nav__nav {
		top: 2.5rem;
	}
	.nav__logo-container {
		top: 1.8rem;
		right: 1.8rem;
	}
	.nav__ul {
		padding-top: 1rem;
	}
}
