.nav {
	display: flex;
	justify-content: space-between;
	&__logo-container,
	&__logo-container--footer {
		position: absolute;
		top: 3.5rem;
		right: 6rem;
		width: 100px;
		z-index: 3;
		opacity: 0.7;
		transition: 2s all ease;
		&:hover {
			opacity: 1;
		}
	}
	&__nav {
		margin-left: -1rem;
	}
	&__logo-container--footer {
		position: inherit;
	}
	&__ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		z-index: 4;
	}

	&__li {
		transition: opacity 1s ease-in-out;
		z-index: 4;
	}
	&__a {
		padding: 1.6rem 1rem;
		&--massage {
			padding: 0 1rem 1.6rem;
			position: relative;
		}
	}
	&__about-ul {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;
		left: -1rem;
		list-style: none;
		transition: 3s all ease;

		padding: 3rem 2rem;
		width: 21rem;
	}

	&__about-li {
		background-color: rgb(64, 48, 42);
		padding: 0.7rem;
	}
	&__a-sub {
		padding: 1.6rem 1rem;
		opacity: 0;
		&:hover {
			opacity: 0.6;
		}
	}
	&__opacity {
		animation-name: opacity-one;
		animation-duration: 2s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
	}
}
@media screen and (max-width: 1100px) {
	.nav {
		&__logo-container,
		&__logo-container--footer {
			top: 3.5rem;
			right: 5rem;
		}
	}
}
@media screen and (max-width: 600px) {
	.nav {
		align-items: top;
		&__logo {
			width: 80px;
		}
		&__ul {
			flex-direction: column;
		}
	}
}
