.price {
	background-color: #8c7568;
	height: 100vh;
	padding: 4rem 7rem;
	background-image: url('./../img/pattern3.svg');
	background-blend-mode: multiply;
	&__container {
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
		gap: 2rem;
	}
	&__cards-container {
		display: flex;
		width: 100%;
		gap: 3rem;
		height: auto;
	}
	&__card {
		width: 33%;
		height: 100%;
		box-shadow: black 0px 20px 30px -10px;
		padding: 3rem 2rem;
		position: relative;
		overflow: hidden;
	}

	&__card-background {
		transition: 2s all ease;

		&--one {
			background: url('./../img/price-one.jpg');
			position: absolute;
			opacity: 0.2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-size: cover;
		}
		&--two {
			background: url('./../img/price-two.jpg');
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-size: cover;
			opacity: 0.2;
		}
		&--three {
			background: url('./../img/price-three.jpg');
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-size: cover;
			opacity: 0.2;
		}
		&--one:hover,
		&--two:hover,
		&--three:hover {
			transform: scale(1.3);
			opacity: 0.9;
		}
	}
	&__text-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	&__span {
		font-weight: 600;
	}
	&__info-container {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}
	&__info {
		width: 50%;
	}
}
.title__button--pale {
	box-shadow: black 0px 20px 30px -10px;

	opacity: 0.3;
	&:hover {
		opacity: 1;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
}
